AZURE_OPENAI_API_KEY=YOUR-KEY-HERE # openai
AZURE_API_KEY=YOUR-KEY-HERE # litellm
AZURE_API_BASE=YOUR-LINK-HERE # litellm
AZURE_OPENAI_API_ENDPOINT=YOUR-LINK-HERE # openai
AZURE_API_VERSION=2024-05-01-preview 
LLM_DEPLOYMENT=azure/gpt-4o-mini
EMBEDDING_DEPLOYMENT=azure/text-embedding-3-small